<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Pharmacist: Resupply</title>
    <script
      crossorigin="anonymous"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    ></script>
  </head>
  {% include 'flashmess.html' %}

  
  <body>
    {% if med_data%}
    <table style="width: 100%;">
      <tr>
        <th>Medicine ID</th>
        <th>Medicine Name</th>
        <th>Current Quantity</th>
        <th>Rate</th>
        <th>Action</th>
      </tr>
      {% for data in med_data %}
      <tr>
        <th>{{data.medid}}</th>
        <th>{{data.medname}}</th>
        <th>{{data.quantity}}</th>
        <th>{{data.rate}}</th>
        <th>
          <button id="{{data.medid}}" value="{{data.medid}}" class="updbtn">
            Update Quantity
          </button>
        </th>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    <button id="badd">Add new Medicine</button>
    <br />
    <br />
    <form
      action="/pharmacist/resupply"
      method="post"
      onsubmit="return addvalidation()"
      id="addform"
      style="display: none;"
    >
      <label>Medicine ID</label>
      <input name="addmedid" id="addmedid" required type="number" />
      <span class="text-danger font-weight-bold" id="addmedidspan"></span>
      <br /><br />
      <label>Medicine Name</label>
      <input name="addmedname" id="addmedname" required type="text" />
      <span class="text-danger font-weight-bold" id="addmednamespan"></span>
      <br /><br />
      <label>Quantity</label>
      <input
        min="0"
        name="addquantity"
        id="addquantity"
        required
        type="number"
      />
      <span class="text-danger font-weight-bold" id="addquantityspan"></span>
      <br /><br />
      <label>Rate</label>
      <input
        name="addrate"
        id="addrate"
        required
        type="number"
        min="0"
        step="0.0001"
      />
      <span class="text-danger font-weight-bold" id="addratespan"></span>
      <br /><br />
      <button name="submit" type="submit" value="add">Confirm Add!</button>
      <button type="reset" value="Reset">Reset</button>
    </form>

    <form
      action="/pharmacist/resupply"
      method="post"
      onsubmit="return updatevalidation()"
      id="updateform"
      style="display: none;"
    >
      <label>Medicine ID</label>
      <input name="updatemedid" id="updatemedid" readonly type="number" />
      <span class="text-danger font-weight-bold" id="updatemedidspan"></span>
      <br /><br />
      <label>Quantity(Will be added)</label>
      <input
        min="0"
        name="updatequantity"
        id="updatequantity"
        required
        type="number"
      />
      <span class="text-danger font-weight-bold" id="updatequantityspan"></span>
      <br /><br />
      <button type="submit" name="submit" value="update">Update</button>
      <button type="reset" value="Reset">Reset</button>
    </form>
    <button name="logout"><a href="{{url_for('logout')}}">Logout</a></button>
    <input type="button" value="Back" onclick="history.back()" />
  </body>

  <script type="text/javascript">
    function updatevalidation() {
      var validate = true;
      document.getElementById("updatemedidspan").innerHTML = "";
      var updatemedid = document.getElementById("updatemedid").value;

      if (updatemedid.length != 9) {
        document.getElementById("updatemedidspan").innerHTML =
          "Enter 9 digit medID, given input length is :" + updatemedid.length;
        validate = false;
      }
      return validate;
    }

    function addvalidation() {
      var validate = true;
      document.getElementById("addmedidspan").innerHTML = "";
      document.getElementById("addmednamespan").innerHTML = "";
      var addmedid = document.getElementById("addmedid").value;

      if (addmedid.length != 9) {
        document.getElementById("addmedidspan").innerHTML =
          "Enter 9 digit medID, given input length is :" + addmedid.length;
        validate = false;
      }

      //Patient name
      var addmedname = document.getElementById("addmedname").value;
      // console.log("addmedname : "+ addmedname)
      // console.log(addmedname.match("^[a-zA-Z]+.*[\s][a-zA-Z]+$"))
      if (!addmedname.match("^[a-zA-Z]+$")) {
        document.getElementById("addmednamespan").innerHTML =
          "Enter Alphabetical Medicine Name";
        validate = false;
      }
      return validate;
    }
  </script>

  <script>
    $(document).ready(function () {
      window.history.replaceState("", "", window.location.href);
    });
  </script>

  <script>
    $(document).ready(function () {
      $("#badd").click(function () {
        $("#addform").show();
        $("#updateform").hide();
      });
      $(".updbtn").click(function () {
        $("#addform").hide();
        $("#updateform").show();
        $("#updatemedid").val($(this).val());
      });
    });
  </script>
</html>
