html,
a,
body {
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #111111;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}
/*Background image*/
#background-picture {
    background-image: url('/static/images/bg.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.main{
    margin-top: 65px;
    text-align: center;
    vertical-align: middle;
}
/*Form Styling*/
.form-bg{
    background-color: white;
    border-bottom-style: solid;
    border-color: white;
    border-radius: 10px;
}

.form-style{
    padding: 30px;
    margin-top: 30vh;
    margin-bottom: 30vh;
    align-self: flex-start;
}
.form-in{
    margin: 15px;
}

.form-in h2{
    color: #578BC4;
}

.input-content{
    margin: 10px;
}
.form-in input,select{
    margin-bottom: 10px;
    height: 30px;
}
.form-in label{
    color: #578BC4;
}
.form-in button{
    margin: 10px;
}

.form-in a{
    margin: 10px;
    color: #578BC4;
}

/*navbar*/
.navbar{
    height: 65px;
}
.navbar-dark {
    background-color: #578BC4;
}
.nav-item a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav-item a:hover, a:active{
    color: black;
}

.nav-item{
    margin-right: 70px;
}


/*patient form*/
.form-style-patient{
    background-color: #578BC4;
    margin-top: 90px;
    margin-bottom: 70px;
    padding: 30px;
}

/*footer*/
.footer{
    color: white;
    padding: 20px;
    background-color: #578BC4;
    margin-top: 50px;
}

.footer h5{
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: bold;
}
.footer a{
    margin-bottom: 10px;
    color: white;
}
.footer a:hover{
    color: black;
    text-decoration: none;
}
