{% extends 'layout.html' %}
{% block title %}Admin{% endblock %}
{% block body %}
<div class="main">
    <center>
        <h3>All Active Patients</h3>
    </center>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope='col'>Patient ID</th>
                    <th scope='col'>SSN ID</th>
                    <th scope='col'>Patient Name</th>
                    <th scope='col'>Age</th>
                    <th scope='col'>Type of Bed</th>
                    <th scope='col'>Patient Status</th>
                    <th scope='col'>Address</th>
                    <th scope='col'>State</th>
                    <th scope='col'>City</th>
                    <th scope='col'>Admit Date</th>
                </tr>
            </thead>
            {% for patient in data %}
            <tbody>
                <tr>
                    <td>{{patient.pid}}</td>
                    <td>{{patient.ssnid}}</td>
                    <td>{{patient.pname}}</td>
                    <td>{{patient.age}}</td>
                    <td>{{patient.bedtype}}</td>
                    <td>{{patient.pstatus}}</td>
                    <td>
                        <div style="overflow-x: hidden;overflow-y:scroll;height: 75px;">{{patient.address}}</div>
                    </td>
                    <td>{{patient.state}}</td>
                    <td>{{patient.city}}</td>
                    <td>{{patient.admitdate}}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}