{% extends 'layout.html' %}
{% block title %}Admin{% endblock %}




{% block body %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet" >
<link href="https://cdn.datatables.net/1.10.21/css/dataTables.semanticui.min.css" rel="stylesheet" >

<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.semanticui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<!-- <script src="js/dist/jspdf.plugin.autotable.js"></script> -->
<script src="{{url_for('static',filename='js/dist/jspdf.plugin.autotable.js')}}"></script>
<div class="main">

    <!-- Patient Details -->
    <div>

        <table class="table">
            <tr>
                <th colspan="7" class="text-center">Patient Details</th>
            </tr>

            <tr class="thead-dark">
                <th>Patient ID</th>
                <th>Patient Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Type of Room</th>
                <th>Admit Date</th>
                <th>Dishcarge Date</th>
            </tr>
            
            <tbody>
                <tr>
                    <td>{{patient_data.pid}}</td>
                    <td>{{patient_data.pname}}</td>
                    <td>{{patient_data.age}}</td>
                    <td style="max-width: 100px;">
                        <div style="max-height: 100px; overflow-x: hidden; overflow-y: auto;">
                            {{patient_data.address}}
                        </div>
                    </td>
                    <td>{{patient_data.bedtype}}</td>
                    <td>{{patient_data.admitdate}}</td>
                    <td>{{today}}</td>
                </tr>
            </tbody>
            <tr>
                <td colspan="7" class="text-center">
                    Days : {{bill_total[0]['days']}} , Room Charge : Rs.
                    {{bill_total[0]['bedtotal'] | currencyFormat}}
                </td>
            </tr>
        </table>

    </div>

    <br />
<hr>

    <!-- Pharmacy Details -->
    {% if medicine_data %}
    <div class="row justify-content-center" style="margin-left: 60px; margin-right: 50px;">
        <div class="col-md-10">
            <table class="ui celled table" style="width: 100%;" id="medicinedata">
                <thead >
                    <tr>
                        <th style="background-color:#212529;" colspan="4" class="text-center text-white">Pharmacy Bills</th>
                    </tr>
                    <tr>
                        <th>Medicine Name</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Ammount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in medicine_data %}
                    <tr>
                        <td>{{data.medname}}</td>
                        <td>{{data.quantity}}</td>
                        <td>{{data.rate}}</td>
                        <td>{{data.amount}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tr>
                    <td colspan="4" class="text-center">
                        Bill for Pharmacy : Rs. {{bill_total[1] | currencyFormat}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% else %}
    <div class="text-center text-danger">
        <p style="font-size: larger;">No Medicines issued to this Patient were found in Pharmacy records!</p>
    </div>
    {% endif %}

    <br />
    <br>
    <br><hr>
    <!-- Diagnostic Bills -->
    {% if test_data %}
    <div class="row justify-content-center" style="margin-left: 40vh; margin-right: 50px;">
        <div class="col-md-10">
            <table class="ui celled table" style="width: 80%; " id="testdata">
            <thead>
                <tr>
                    <th style="background-color:#212529;" colspan="2" class="text-center text-white">Diagnostic Bills</th>
                </tr>
                <tr class="thead-dark">
                    <th>Diagnostic Test Name</th>
                    <th>Ammount</th>
                </tr>
            </thead>
            <tbody>
                {% for data in test_data %}
                <tr>
                    <td>{{data.testname}}</td>
                    <td>{{data.charge}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tr>
                <td colspan="3" class="text-center">
                    Bills for Diagnostics : Rs. {{bill_total[2] | currencyFormat}}
                </td>
            </tr>
        </table>
</div>
    </div>
    {% else %}
    <div class="text-center text-danger">
        <p style="font-size: larger;">
            No Diagnostics Tests for this Patient were found in Diagnostic records!
        </p>

    </div>
    {% endif %}

    <br /><hr>
    <!-- grand total -->
    <div>

        <table class="table" id="grandtotal">
            <thead class="thead-dark">
                <th>Grand Total :</th>
            </thead>
            <tbody>
                <tr>
                    <td> Rs. {{bill_total[3] | currencyFormat}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <br>
    <form action="/admin/billings" method="POST" onsubmit="return confirm('Confirm Patient Discharge?!')">
        <input type="hidden" value="{{patient_data.pid}}" name="pid" />
        <button type="submit" class="btn btn-primary" value="confirm_bills" name="submit">
            Confirm Discharge!
        </button>
    </form>
    <br>
    <button id="btnprint" class="btn btn-primary" style="align-self:center">Print Bills</button>
</div>

<script>
    $(document).ready(function () {
        $("#testdata").DataTable();
        $("#medicinedata").DataTable();
    });
</script>

<script>
    $(function () {
        var doc = new jsPDF();
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            }
        };

        $('#btnprint').click(function () {

            // var table = tableToJson($('#accountStatementListTable').get(0))
            // var doc = new jsPDF('p','pt', 'a4', true);
            var doc = new jsPDF();

            doc.autoTable({
                html: '#patientdata',
                theme: 'striped',

            })

            doc.autoTable({
                html: '#medicinedata',
                theme: 'striped',
                startY: doc.lastAutoTable.finalY + 10,

            })
            doc.autoTable({
                html: '#testdata',
                theme: 'striped',
                startY: doc.lastAutoTable.finalY + 10,

            })
            doc.autoTable({
                html: '#grandtotal',
                theme: 'striped',
                startY: doc.lastAutoTable.finalY + 10,

            })
            // doc.autoTable(res2.columns, res2.data, {
            //     startY: doc.lastAutoTable.finalY + 50
            // });

            doc.save('hospital-bills.pdf');
        });

    });
</script>
{% endblock %}