{% extends 'admin/home.html' %}
{% block body %}
<div class="main">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="form-bg form-style-patient">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <h2>Create Patient</h2><br/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <form action="/admin/create_patient" method="post" onsubmit="return validation()" class="text-white">


                            <div class="form-group row justify-content-center">
                                <label class="col-md-2 col-form-label">SSN ID</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="ssnid" id="ssnid" required type="number"/>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="text-danger font-weight-bold" id="ssnidspan"></p>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row justify-content-center">
                                <label class="col-md-2 col-form-label">Patient Name</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="pname" id="pname" required type="text"/>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="text-danger font-weight-bold" id="pnamespan"></p>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row justify-content-center">
                                <label class="col-md-2 col-form-label">Age</label>
                                <div class="col-md-6">
                                    <input class="form-control" max="120" min="0" name="age" id="age" required
                                           type="number"/>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="text-danger font-weight-bold" id="agespan"></p>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="offset-md-2 col-md-2 col-form-label">Date of Admission</label>
                                <div class="col-md-4">
                                    <input class="form-control" name="admitdate" id="admitdate" required type="date"
                                           min="1990-01-01" max="2100-12-31">
                                </div>
                                <div class="row">
                                    <p class="text-danger font-weight-bold" id="admitdatespan"></p>

                                </div>
                            </div>


                            <div class="form-group row justify-content-center">
                                <label class="col-md-2 col-form-label">Type of Bed</label>
                                <div class="col-md-6">
                                    <select class="form-control" name="bedtype" required>
                                        <option value="">Select bed type</option>
                                        <option value="general">General Ward</option>
                                        <option value="semi">Semi Sharing</option>
                                        <option value="single">Single Room</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group row justify-content-center">
                                <label class="col-md-2 col-form-label">Address</label>
                                <div class="col-md-6">
                                    <textarea class="form-control" cols="5" rows="7" name="address" required></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="offset-md-2 col-md-2 col-form-label">State</label>
                                <div class="col-md-4">
                                    <select class="form-control" id="state" name="state" required>
                                        <option disabled selected value="">Select state......</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="offset-md-2 col-md-2 col-form-label">City</label>
                                <div class="col-md-4">
                                    <select class="form-control" id="city" name="city" required>
                                        <option disabled selected value="">Select city......</option>
                                    </select>
                                </div>
                            </div>

                            
                            <div class="form-group row justify-content-center">
                                <div class="col-md-10">
                                    <button class="col-md-3 btn btn-primary" name="submit" required type="submit"
                                            value="Submit">
                                        Submit
                                    </button>
                                    <button class="offset-md-1 col-md-3 btn btn-primary" name="submit" required
                                            type="reset" value="Reset">
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--    <center><h2>Create Patient</h2></center>-->
<!--    <div class="row">-->
<!--        <form action="/admin/create_patient" method="post" onsubmit="return validation()">-->
<!--            <label>SSN ID</label>-->
<!--            <input name="ssnid" id="ssnid" required type="number"/>-->
<!--            <span class="text-danger font-weight-bold" id="ssnidspan"></span>-->
<!--            <br/><br/>-->
<!--            <label>Patient Name</label>-->
<!--            <input name="pname" id="pname" required type="text"/>-->
<!--            <span class="text-danger font-weight-bold" id="pnamespan"></span>-->
<!--            <br/><br/>-->
<!--            <label>Age</label>-->
<!--            <input max="120" min="0" name="age" id="age" required type="number"/>-->
<!--            <span class="text-danger font-weight-bold" id="agespan"></span>-->
<!--            <br/><br/>-->
<!--            <label>Date of Admission</label>-->
<!--            <input name="admitdate" id="admitdate" required type="date" min="1990-01-01" max="2100-12-31"/>-->
<!--            <span class="text-danger font-weight-bold" id="admitdatespan"></span>-->
<!--            <br/><br/>-->
<!--            <label>Type of Bed</label>-->
<!--            <select name="bedtype" required>-->
<!--                <option value="">Select bed type</option>-->
<!--                <option value="general">General Ward</option>-->
<!--                <option value="semi">Semi Sharing</option>-->
<!--                <option value="single">Single Room</option>-->
<!--            </select>-->
<!--            <br/><br/>-->
<!--            <label> Address </label>-->
<!--            <textarea cols="5" name="address" rows="1" required></textarea>-->
<!--            <br/><br/>-->
<!--            <label>State : </label>-->
<!--            <select id="state" name="state" required>-->
<!--                <option disabled selected value="">Select state......</option>-->
<!--            </select>-->
<!--            <br/><br/>-->
<!--            <label>City : </label>-->
<!--            <select id="city" name="city" required>-->
<!--                <option disabled selected value="">Select city......</option>-->
<!--            </select>-->
<!--            <br/><br/>-->
<!--            <button name="submit" required type="submit" value="Submit">-->
<!--                Submit-->
<!--            </button>-->

<!--            <br/><br/>-->
<!--            <button name="submit" required type="reset" value="Reset">-->
<!--                Reset-->
<!--            </button>-->
<!--        </form>-->
<!--    </div>-->

<!-- For State And City interdependent Dropdown -->

<script type="text/javascript">
    function validation() {
        var validate = true
        document.getElementById("ssnidspan").innerHTML = "";
        document.getElementById("pnamespan").innerHTML = "";
        var ssnid = document.getElementById("ssnid").value


        if (ssnid.length != 9) {
            document.getElementById("ssnidspan").innerHTML = "Enter 9 digit SSNID, given input length is :" + ssnid.length;
            validate = false
        }

        //Patient name
        var pname = document.getElementById("pname").value
        // console.log("Pname : "+ pname)
        // console.log(pname.match("^[a-zA-Z]+.*[\s][a-zA-Z]+$"))
        if (!pname.match("^[a-zA-Z]+$")) {
            document.getElementById("pnamespan").innerHTML = "Enter appropriate Patient Name";
            validate = false
        }
        return validate

    }
</script>

<script>
    $(document).ready(function () {
        window.history.replaceState("", "", window.location.href);
    });
</script>

<script>
    $(document).ready(function () {
        parent_id = null
        load_json_data('state');

        function load_json_data(id, parent_id) {
            var data = JSON.parse('{{ data | tojson | safe}}');
            var html_code = '';
            html_code += '<option value="">Select ' + id + '</option>';
            if (id == 'state') {
                data = data['states']
            }
            if (id == 'city') {
                data = data['states'][parent_id]['city']
            }

            $.each(data, function (key, value) {
                if (id == 'state') {
                    html_code += '<option value="' + key + '">' + value[id] + '</option>';
                } else if (id == 'city') {

                    if (parent_id != null) {
                        html_code += '<option value="' + key + '">' + value + '</option>';

                    }
                }
            });
            $('#' + id).html(html_code);
        }

        $(document).on('change', '#state', function () {
            var state_id = $(this).val();
            if (state_id != '') {
                load_json_data('city', state_id);
            } else {
                $('#city').html('<option value="">Select city</option>');
            }
        });
    });
</script>

{% endblock %}
