{% extends 'admin/home.html' %}
{% block body %}
<div class="main">
  <div class="row">
      <center><h2>Search Patient</h2></center>
    <form action="{{url_for('search_patients')}}" method="post">
        <label for="sid">Enter SSN ID*</label>
        <input type="number" name="ssnid" id="ssnid" required min="1"/>
        <p>OR!</p>
        <label for="sid">Enter Patient ID*</label>
        <input type="number" name="pid" id="pid" required min="1"/>
        <br>
        <input type="submit" name="submit" value="submit" required/>
    </form>
    <br>
    <br>

    {% if data and session.get('role')=='admin' %}
    <table style="width:100%">
        <tr>
            <th>Patient ID</th>
            <th>SSN ID</th>
            <th>Patient Name</th>
            <th>Age</th>
            <th>Type of Bed</th>
            <th>Patient Status</th>
            <th>Address</th>
            <th>State</th>
            <th>City</th>
            <th>Admit Date</th>
        </tr>
    
        <tr>
            <td>{{data.pid}}</td>
            <td>{{data.ssnid}}</td>
            <td>{{data.pname}}</td>
            <td>{{data.age}}</td>
            <td>{{data.bedtype}}</td>
            <td>{{data.pstatus}}</td>
            <td>{{data.address}}</td>
            <td>{{data.state}}</td>
            <td>{{data.city}}</td>
            <td>{{data.admitdate}}</td>
        </tr>
    </table>
    
    <form action="/admin/update" method="POST">
    <input type="hidden" value="{{data.pid}}" name="pid" />
    <button name="update_patient" value="update_patient" type="submit">Update Patient</a></button>
    </form>
    
    <form action="/admin/delete" method="POST" onsubmit="return confirm('Confirm Patient Delete?!')">
        <input type="hidden" value="{{data.pid}}" name="pid" />
        <button name="delete_patient" value="delete" type="submit">Delete Patient</a></button>
        </form>
    

    {% endif %}

    <input type="button" value="Back" onclick="history.back()">
</div>
</div>

<script >
    $(document).ready(function(){
$('#ssnid').blur(function(){
    if($(this).val().length != 0){
        $('#pid').attr('disabled', true);
    }
    else{
        $('#pid').attr('disabled', false);
    }       
});
$('#pid').blur(function(){
    if($(this).val().length != 0){
        $('#ssnid').attr('disabled', true);
    }
    else{
        $('#ssnid').attr('disabled', false);
    }        
});
});
</script>

<script>
    $(document).ready(function () {
        window.history.replaceState("", "", window.location.href);
    });
</script>

{% endblock %}
